.main {
  flex: 1;
  width: 100%;
  background-color: #0a0a0a;
}

.main__content {
  background-color: #0a0a0a;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .main__content {
    padding: 20px 0;
  }
}